.primary-button {
  @include border-style($radius: 10px);
  background-color: var(--color-secondary);
  transition: border-color 0.25s;

  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-light);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.action-button {
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 10px;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
    border-radius: 10px;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
