.primary-button {
  @include border-style($radius: 10px);
  background-color: var(--color-secondary);
  transition: border-color 0.25s;

  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-light);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
