.task-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include border-style;
  padding: 3rem;
  min-width: 600px;
  width: 100%;
  background-color: var(--color-tertiary);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-secondary);
}
