.task-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include border-style;
  padding: 1rem;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-secondary);
}
