.task-card {
  @include flexbox($direction: column, $justify: flex-start);
  @include border-style;
  padding: 3rem;
  min-width: 600px;
  width: 100%;
  background-color: var(--color-tertiary);

  &__list {
    padding: 3.5rem 0;
  }
}
