.task-card {
  @include flexbox($direction: column, $justify: flex-start);
  @include border-style;
  padding: 3rem;
  min-width: 600px;
  width: 100%;
  background-color: var(--color-tertiary);

  &__input {
    @include flexbox($align: center, $justify: space-between);
  }

  &__list {
    padding: 3.5rem 0;
  }
}

.input-task {
  box-sizing: border-box;
  display: block;
  min-width: 200px;
  width: 100%;
  outline: 0;
  padding: 0.5rem;
  @include border-style($radius: 10px);
  background: transparent;
}
