@mixin border-style(
  $width: 2px,
  $style: solid,
  $color: var(--color-secondary),
  $radius: 20px
) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin flexbox($direction: row, $align: null, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
