// colors
$color-primary: #15101c;
$color-secondary: #9e78cf;
$color-tertiary: #1d1825;
$color-light: #ffffff;

:root {
  --color-primary: #15101c;
  --color-secondary: #9e78cf;
  --color-tertiary: #1d1825;
  --color-light: #ffffff;
}
